/*
p
{
    font-size: 1em;
    background: black;
    font-style: italic;
    color: white;
    margin: 1em;
    padding: 2em;
    padding-left: 1em;
    border: 25px solid green;
}
*/
div[class^="col-lg"]
{
    border: 1px solid #F00;

    border-radius: 6px;
    line-height: 40px;
}

body
{
    color:black;
    background-color:snow;
    background-image:url(/html_orsys/fond.png);
    background-repeat:no-repeat;
    /*font-family: 'Sacramento', 'Pangolin';*/
    background-size: cover;
}
nav a
{
    color: red;
    display: inline;
}
main
{
    margin-top: 70px;
}
.container-fluid
{
    max-width: 1600px;
}

.navbar-perso
{
    background-color: #5B41A3 !important;
    border-color: #2F147C;
}


.color-primary-0 { color: #2F147C }	/* Main Primary color */
.color-primary-1 { color: #5B41A3 }
.color-primary-2 { color: #41219C }
.color-primary-3 { color: #220A65 }
.color-primary-4 { color: #160447 }

.modal-backdrop
{
    background-color: #b3d4fc;
}
