<!--
p
{
    font-size: 1em;
    background: black;
    font-style: italic;
    color: white;
    margin: 1em;
    padding: 2em;
    padding-left: 1em;
    border: 25px solid green;
}
-->
div[class^="col-lg"]
{
    border: 1px solid #F00;
}
